.clerk-headline-wrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.clerk-slider {
  display: flex;
}

/* 
  * This will determine  how many products are being shown in the slider
  */
.clerk-slider-item {
  flex: 1 0 calc(25% - 0px);
}

@media screen and (max-width: 768px) {
  .clerk-slider-item {
    flex: 1 0 calc(50% - 0px);
  }
}

@media screen and (max-width: 480px) {
  .clerk-slider-item {
    flex: 1 0 calc(50% - 0px);
  }
}

/*********************************************
  *
  * CUSTOM CSS BELOW HERE 
  *
*********************************************/
.clerk_product-card {
  display: flex;
  flex-direction: column;
}

.clerk_discount-badge {
  width: fit-content;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 10px 10px;
  background: #111;
  color: #fff;
}

.clerk_badge-wrapper {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}

.clerk_img-wrapper {
  position: relative;
  display: block;
}

.clerk_img-wrapper:before {
  content: "";
  padding-top: 100%;
  display: block;
}

.clerk_image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.clerk_price-wrapper {
  display: flex;
  padding: 0 10px;
  gap: 10px;
}

.clerk_list-price {
  color: #909090;
}

.clerk_price {
  color: #000;
}

.clerk_title {
  display: flex;
  padding: 0 10px;
}

.clerk_title > a {
  text-decoration: none;
  color: #000;
}

.clerk_product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
