{% assign currency_symbol_before = "" %} 
{% assign currency_symbol_after = " kr"%} 
{% if products.length > 7 %}
<div class="clerk-wrapper page-width">
    <div class="clerk-headline-wrapper">
        <h2 class="clerk-headline">{{ headline }}</h2>
    </div>
    <div class="clerk-slider-wrapper">
        <div class="clerk-slider">
            {% for product in products %}
            <div class="clerk-slider-content">
                <!-- START PRODUCT CARD -->
                <div class="clerk_product-card">
                    <div class="clerk_badge-wrapper">
                        {% if product.on_sale %}
                        <span class="clerk_discount-badge"> - {{ (product.list_price-product.price)/product.list_price * 100 | round }}% </span>
                        {% endif %}
                    </div>

                    <div class="clerk_img-wrapper">
                        <a href="{{ product.url }}"><img class="clerk_image" src="{{ product.image }}" /></a>
                    </div>
                    <div class="clerk_product-info">
                        <div class="clerk_title">
                            <a href="{{ product.url }}">{{ product.name }}</a>
                        </div>
                        <div class="clerk_price-wrapper">
                            {% if product.on_sale %}
                            <div class="clerk_list-price">
                                <del>{{ currency_symbol_before }}{{ product.list_price | money_eu 2 }}{{ currency_symbol_after }}</del>
                            </div>
                            {% endif %}
                            <div class="clerk_price">{{ currency_symbol_before }}{{ product.price | money_eu 2 }}{{ currency_symbol_after }}</div>
                        </div>
                    </div>
                </div>
                <!-- END PRODUCT CARD -->
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
